<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor = "#eeeeeee">
  <h1>Below is where the chat will be. Up here will be the game images. Wee!</h1>
  <object data=http://localhost:3000/ width="600" height="400"> <embed src=http://localhost:3000/ width="600" height="400"> </embed> Error: Embedded data could not be displayed. </object>
    </script>
  </body>
</html>