<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/endgame.css' />
  </head>
  <body background = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/docs/Endgamescreen.png">
  <center>
  <button onclick = "playGame()">Play Again?</button>
  <script>
  function playGame(){
      document.location.href = "online";
  }
    </script>
  <button onclick = "profile()">Profile</button>
  <script>
  function profile(){
      document.location.href = "home";
  }
    </script>
  <button onclick = "logout()">Logout</button>
  <script>
  function logout(){
    var r = confirm("Are You Sure You Wish to Log Out?\nEither OK or Cancel.");
    if(r == true)
      document.location.href = "logout";
  }
    </script>
  </body>
  </center>
</html>