<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor = "#202020">
  <h1>Game</h1>
  <button onclick = "rageQuit()">Rage Quit?</button>
  <script>
  function rageQuit(){
    var r = confirm("Are You Sure You Wish to Rage Quit?\nEither Yes or N0.");
    if(r == true)
      document.location.href = "login";
  }
    </script>
  </body>
</html>