<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/gamelogin.css' />
  </head>
  <body background="https://github.com/stanleyrya/CS326-Team-Rocket/blob/master/sessions/lib/db/pictures/nobg.png">
  </body>
  <center>
  <marquee behavior = "alternate" direction = "right" scrollamount = 25 >
                            
    <img src="https://raw.githubusercontent.com/stanleyrya/CS326-Team-Rocket/master/docs/logofinalanswer.png">
 </marquee>
 <h1><font color = 'black'>Welcome to Guess Who Online</h1>
    <form method="post" action="/main/auth"><font color = 'black'>
      UserName: <input type="text" name="username" style = "color: #000000; background-color: #FFFFFF"> <br>
      Password : <input type="password" name="password" style = "color: #000000; background-color: #FFFFFF"> <br>
      <button>Login</button>
    </form>
    </center>
  
</html>