<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/gamelogin.css' />
  </head>
  <body background="https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/docs/Team Rocket logo.jpg">
  </body>
  <center>
  <marquee behavior = "alternate" direction = "right" scrollamount = 25>
    <img src="https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/docs/logofinalanswer.png">
 </marquee>
 <h1>Welcome to Guess Who Online</h1>
    <form method="post" action="/main/auth">
      UserName: <input type="text" name="username" style = "color: #FFFFFF; background-color: #0000FF"> <br>
      Password :    <input type="password" name="password" style = "color: #FF0000; background-color: #0000FF"> <br>
      <button>Login</button>
    </form>
    <form method = "post" action = "/main/auth1">
      <button>Create New User?</button>
    <form>
    </center>
  
</html>