<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/game.css' />
  </head>
  <h1>
  Your Pokemon
  </h1>
  <object id ="chat" data=http://localhost:4000/> 
    <embed src=http://localhost:4000/> </embed> Error: Embedded data could not be displayed. 
  </object>

  <body bgcolor = "#FFFFFF">

  <img id = "main" src = "http://assets20.pokemon.com/static2/_ui/img/chrome/external_link_bumper.png">

  <table>
  <tr>
    <td>
  <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/":"handleImage()":".png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
  <td>
  <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
   <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
    <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
    <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
    <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
    <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
   <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
  </tr>
  <tr>
  <td>
    <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
    <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
    <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
    <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
    <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
    <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
    <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
    <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
    <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
    <td>
    <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Abra.png" onclick = "handleClick(this);"style = "width:125px;height:200px">
  </td>
  </tr>
<script>
function handleClick(element){
  element.src = "http://assets20.pokemon.com/static2/_ui/img/chrome/external_link_bumper.png";
}
function handleImage(){
  return "Abra";
}
</script>
  </table>
  </body>
</html>
