<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/game.css' />
  </head>
  <h1><font color = 'white'>
  Your Pokemon-
  </h1>
  <object id ="chat" data=http://localhost:4000/> 
    <embed src=http://localhost:4000/> </embed> Error: Embedded data could not be displayed. 
  </object>

  <body bgcolor = "#FFFFFF">
  <img src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Back.png" id = "main">
  <table>
  <tr>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
  </tr>   
    <tr>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image0" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
    <td>
  <img src = "image1" onclick = "handleClick(this);" style = "width:125px;height:200px">
  </td>
  </tr> 
  </table>
<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
function handleClick(element){
  element.src = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/Back.png";
}

var pokemon = ["Seel", "Abra"];
for(var i = 0; i < pokemon.length; i++){
  var oldSrc = 'image' + i.toString();
  var newSrc = 'https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/sessions/db/card%20pictures/' + pokemon[i] + '.png';
  $('img[src="'+oldSrc+'"]').attr('src',newSrc);
}
</script>
  </body>
</html>
