<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/homestyle.css' />
  </head>
  <body bgcolor = "#9D0909">
  <h1>Profile</h1>
  <button onclick = "logout()">Log Out</button>
  <script>
  function logout(){
    var r = confirm("Are You Sure You Wish to Log Out?\nEither Yes or N0.");
    if(r == true)
      document.location.href = "login";
  }
    </script>
  </body>
</html>