<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor = "#202020">
    <h1>New User</h1>
      <form method="post" action="/main/auth">
      Name: <input type = "text" name = "name"> <br>
      User Name: <input type="text" name="username"> <br>
      Password:  <input type="password" name="password"> <br>
      <button>Create</button>
      </form>
  </body>
</html>