<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <center><body bgcolor = "#202020">
    <h1>Online Users</h1>
      <form method="post" action="/main/auth">
      <button>SquirtleLover</button></p>
      <button>YugiohFan</button>
      </form>
  </body></center>
</html>
