<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/online.css' />
  </head>
  <center><body background = "https://raw.githubusercontent.com/stanleyrya/CS326-Team-Rocket/master/docs/online.png">
    <h1><font color = 'white'>Online Users</h1>
      <body><font color = 'white'> SquirtleLover</body></p>
      <body>YugiohFan</body></p>
      <button onclick = "gotogame()">Find an Opponent</button>
      <script>
        function gotogame(){
          var r = confirm("One moment...Finding a twerp.");
          if(r == true)
            document.location.href = "pickpokemon";
        }
    </script>
      <form method="get" action="/main/home">
      <button>Back</button>
      </form>
  </body></center>
</html>
