<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/online.css' />
  </head>
  <center><body background = "https://raw.githubusercontent.com/umass-cs-326/team-rocket/master/docs/online.png">
    <h1>Online Users</h1>
      <form method="post" action="/main/auth">
      <button>SquirtleLover</button></p>
      <button>YugiohFan</button>
      </form>
  </body></center>
</html>
